@model IEnumerable<BaiTapLon.Models.TbPhongThiNghiem>

@{
    ViewData["Title"] = "Phòng Thí Nghiệm";
}

<h1>Phòng Thí Nghiệm</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MucDoDapUngNhuCauNckh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamDuaVaoSuDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCongTrinhCsvcNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLinhVucNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiPhongThiNghiemNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MucDoDapUngNhuCauNckh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamDuaVaoSuDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCongTrinhCsvcNavigation.MaCongTrinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLinhVucNavigation.LinhVucNghienCuu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoaiPhongThiNghiemNavigation.LoaiPhongThiNghiem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPhongThiNghiem">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.IdPhongThiNghiem">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPhongThiNghiem">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
