@model IEnumerable<BaiTapLon.Models.TbKiTucXa>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaKyTucxa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongChoO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongDienTich)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoPhong)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.IdHinhThucSoHuuNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTinhTrangCsvcNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaKyTucxa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongChoO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongDienTich)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoPhong)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.IdHinhThucSoHuuNavigation.HinhThucSoHuu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTinhTrangCsvcNavigation.TinhTrangCoSoVatChat)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdKiTucXa">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.IdKiTucXa">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.IdKiTucXa">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
